In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Train_Data.csv')

In [3]:
df.head()

         age     sex        bmi smoker     region  children       charges
0  21.000000    male  25.745000     no  northeast         2   3279.868550
1  36.976978  female  25.744165    yes  southeast         3  21454.494239
2  18.000000    male  30.030000     no  southeast         1   1720.353700
3  37.000000    male  30.676891     no  northeast         3   6801.437542
4  58.000000    male  32.010000     no  southeast         1  11946.625900

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3630 entries, 0 to 3629
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       3630 non-null   float64
 1   sex       3630 non-null   object
 2   bmi       3630 non-null   float64
 3   smoker    3630 non-null   object
 4   region    3630 non-null   object
 5   children  3630 non-null   int64
 6   charges   3630 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 198.6+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()

In [6]:
df['sex']=l.fit_transform(df['sex'])
df['smoker']=l.fit_transform(df['smoker'])
df['region']=l.fit_transform(df['region'])
df.head()

         age  sex        bmi  smoker  region  children       charges
0  21.000000    1  25.745000       0       0         2   3279.868550
1  36.976978    0  25.744165       1       2         3  21454.494239
2  18.000000    1  30.030000       0       2         1   1720.353700
3  37.000000    1  30.676891       0       0         3   6801.437542
4  58.000000    1  32.010000       0       2         1  11946.625900

In [7]:
df.isna().count()

age         3630
sex         3630
bmi         3630
smoker      3630
region      3630
children    3630
charges     3630
dtype: int64

In [8]:
x=df.drop('smoker',axis=1).values
y=df['smoker'].values

In [9]:
y

array([0, 1, 0, ..., 0, 0, 0])

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
l=LogisticRegression()
l.fit(x_train,y_train)

D:\program\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
p=l.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report

In [16]:
print(confusion_matrix(y_test,p))

[[747  19]
 [ 31 111]]

In [17]:
print(classification_report(y_test,p))

              precision    recall  f1-score   support

           0       0.96      0.98      0.97       766
           1       0.85      0.78      0.82       142

    accuracy                           0.94       908
   macro avg       0.91      0.88      0.89       908
weighted avg       0.94      0.94      0.94       908

In [18]:
print(accuracy_score(y_test,p))

0.9449339207048458

In [19]:
import pickle
pickle.dump(l,open('model.pkl','wb'))