In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('test.csv')

In [3]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [5]:
df.drop('Name',axis=1,inplace=True)
df.drop('PassengerId',axis=1,inplace=True)

In [6]:
df['HomePlanet']=df['HomePlanet'].fillna("Earth")
df['CryoSleep']=df['CryoSleep'].fillna(False)
df.drop('Cabin',axis=1,inplace=True)
df['VIP']=df['VIP'].fillna(False)
df['VRDeck']=df['VRDeck'].fillna(df['VRDeck'].mean())
df['Age']=df['Age'].fillna(df['Age'].mean())
df['RoomService']=df['RoomService'].fillna(df['RoomService'].mean())
df['ShoppingMall']=df['ShoppingMall'].fillna(df['ShoppingMall'].mean())
df['Spa']=df['Spa'].fillna(df['Spa'].mean())

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    4277 non-null   object
 1   CryoSleep     4277 non-null   bool
 2   Destination   4185 non-null   object
 3   Age           4277 non-null   float64
 4   VIP           4277 non-null   bool
 5   RoomService   4277 non-null   float64
 6   FoodCourt     4171 non-null   float64
 7   ShoppingMall  4277 non-null   float64
 8   Spa           4277 non-null   float64
 9   VRDeck        4277 non-null   float64
dtypes: bool(2), float64(6), object(2)
memory usage: 275.8+ KB

In [8]:
df['FoodCourt']=df['FoodCourt'].fillna(df['FoodCourt'].mean())
df.dropna(inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4185 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    4185 non-null   object
 1   CryoSleep     4185 non-null   bool
 2   Destination   4185 non-null   object
 3   Age           4185 non-null   float64
 4   VIP           4185 non-null   bool
 5   RoomService   4185 non-null   float64
 6   FoodCourt     4185 non-null   float64
 7   ShoppingMall  4185 non-null   float64
 8   Spa           4185 non-null   float64
 9   VRDeck        4185 non-null   float64
dtypes: bool(2), float64(6), object(2)
memory usage: 302.4+ KB

In [10]:
df.to_csv('test2.csv',index=False)