In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
df.drop('Name',axis=1,inplace=True)

In [6]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [7]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(6)
memory usage: 823.6+ KB

In [9]:
df['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars', nan], dtype=object)

In [10]:
df['CryoSleep'].unique()

array([False, True, nan], dtype=object)

In [11]:

df['HomePlanet']=df['HomePlanet'].fillna("Earth")

In [12]:
df['CryoSleep']=df['CryoSleep'].fillna(False)

In [13]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [14]:
df['Destination'].unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [15]:
df['Cabin'].unique()

array(['B/0/P', 'F/0/S', 'A/0/S', ..., 'G/1499/S', 'G/1500/S', 'E/608/S'],
      dtype=object)

In [16]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [17]:
df['CryoSleep'].value_counts()

False    5656
True     3037
Name: CryoSleep, dtype: int64

In [18]:
df.drop('Cabin',axis=1,inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   bool
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Transported   8693 non-null   bool
dtypes: bool(2), float64(6), object(4)
memory usage: 696.2+ KB

In [20]:
df['VIP'].value_counts()

False    8291
True      199
Name: VIP, dtype: int64

In [21]:
df['VIP']=df['VIP'].fillna(False)

In [22]:
df['Spa'].value_counts()

0.0       5324
1.0        146
2.0        105
5.0         53
3.0         53
          ...
1104.0       1
892.0        1
1559.0       1
777.0        1
2234.0       1
Name: Spa, Length: 1327, dtype: int64

In [23]:
#Age	RoomService	FoodCourt	ShoppingMall	Spa	VRDeck

In [24]:
df['Age']=df['Age'].fillna(df['Age'].mean())
df['RoomService']=df['RoomService'].fillna(df['RoomService'].mean())
df['ShoppingMall']=df['ShoppingMall'].fillna(df['ShoppingMall'].mean())
df['Spa']=df['Spa'].fillna(df['Spa'].mean())

In [25]:
df['VRDeck']=df['VRDeck'].fillna(df['VRDeck'].mean())
df.drop("PassengerId",axis=1,inplace=True)

In [26]:
df.isnull().sum()

HomePlanet        0
CryoSleep         0
Destination     182
Age               0
VIP               0
RoomService       0
FoodCourt       183
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
dtype: int64

In [27]:
df['Destination'].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [28]:
df['FoodCourt'].value_counts()

0.0       5456
1.0        116
2.0         75
4.0         53
3.0         53
          ...
3206.0       1
3879.0       1
734.0        1
4076.0       1
2325.0       1
Name: FoodCourt, Length: 1507, dtype: int64

In [29]:
df['FoodCourt']=df['FoodCourt'].fillna(df['FoodCourt'].mean())

In [30]:
df.dropna(inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8511 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8511 non-null   object
 1   CryoSleep     8511 non-null   bool
 2   Destination   8511 non-null   object
 3   Age           8511 non-null   float64
 4   VIP           8511 non-null   bool
 5   RoomService   8511 non-null   float64
 6   FoodCourt     8511 non-null   float64
 7   ShoppingMall  8511 non-null   float64
 8   Spa           8511 non-null   float64
 9   VRDeck        8511 non-null   float64
 10  Transported   8511 non-null   bool
dtypes: bool(3), float64(6), object(2)
memory usage: 623.4+ KB

In [32]:
column=['HomePlanet','CryoSleep','Destination','Age','VIP',
        'RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Transported']

In [33]:
def category_onehot_multcols(multcolumns):
    df_final=final_df
    i=0
    for fields in multcolumns:
        
        print(fields)
        df1=pd.get_dummies(final_df[fields],drop_first=True)
        
        final_df.drop([fields],axis=1,inplace=True)
        if i==0:
            df_final=df1.copy()
        else:
            
            df_final=pd.concat([df_final,df1],axis=1)
        i=i+1
       
        
    df_final=pd.concat([final_df,df_final],axis=1)
        
    return df_final

In [34]:
df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [35]:
tdf=df.copy()
testp=pd.read_csv('test2.csv')

In [36]:
testp.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0

In [37]:
final_df=pd.concat([tdf,testp],axis=1)

In [38]:
final_df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,...,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,...,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,...,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,...,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,...,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0

In [39]:
final_df.shape

(8590, 21)

In [40]:
final_df['Transported']

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8590, dtype: object

In [41]:
final_df=category_onehot_multcols(column)

HomePlanet
CryoSleep
Destination
Age
VIP
RoomService
FoodCourt
ShoppingMall
Spa
VRDeck
Transported

In [42]:
final_df.shape

(8590, 25)

In [43]:
final_df =final_df.loc[:,~final_df.columns.duplicated()]

In [44]:
final_df.shape

(8590, 13)

In [45]:
final_df.head()

,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Age,VIP_True,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,True
0,1,0,0,0,1,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,0,0,0,1,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,1,0,0,0,1,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,1,0,0,0,1,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,0,0,0,1,16.0,0,303.0,70.0,151.0,565.0,2.0,1

In [46]:
df_Train=final_df.iloc[:4000,:]
df_Test=final_df.iloc[4000:,:]

In [47]:
df_Train.head()

,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Age,VIP_True,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,True
0,1,0,0,0,1,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,0,0,0,1,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,1,0,0,0,1,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,1,0,0,0,1,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,0,0,0,1,16.0,0,303.0,70.0,151.0,565.0,2.0,1

In [48]:
df_Test.head()

,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Age,VIP_True,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,True
4000,0,1,1,0,1,41.0,0,0.0,0.0,0.0,0.0,0.0,1
4001,0,0,1,0,1,27.0,0,0.0,0.0,0.0,0.0,0.0,1
4002,0,1,0,0,0,56.0,0,412.0,492.0,9.0,117.0,33.0,1
4003,1,0,1,0,1,22.0,0,0.0,0.0,0.0,0.0,0.0,1
4004,1,0,0,0,0,26.0,0,1.0,1269.0,4790.0,270.0,5116.0,0

In [49]:
df_Test.shape

(4590, 13)

In [50]:
df_Train.shape

(4000, 13)

In [51]:
df_Test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4590 entries, 4000 to 8692
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   HomePlanet_Europa          4590 non-null   uint8
 1   HomePlanet_Mars            4590 non-null   uint8
 2   CryoSleep_True             4590 non-null   uint8
 3   Destination_PSO J318.5-22  4590 non-null   uint8
 4   Destination_TRAPPIST-1e    4590 non-null   uint8
 5   Age                        4585 non-null   float64
 6   VIP_True                   4590 non-null   uint8
 7   RoomService                4585 non-null   float64
 8   FoodCourt                  4585 non-null   float64
 9   ShoppingMall               4585 non-null   float64
 10  Spa                        4585 non-null   float64
 11  VRDeck                     4585 non-null   float64
 12  True                       4590 non-null   uint8
dtypes: float64(6), uint8(7)
memory usage: 282.4 KB

In [52]:
df_Test.dropna(inplace=True)
df_Train.dropna(inplace=True)

<ipython-input-52-9f873fd61b5e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Test.dropna(inplace=True)
<ipython-input-52-9f873fd61b5e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Train.dropna(inplace=True)

In [53]:
df_Test.drop([True],axis=1,inplace=True)

D:\program\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [54]:
X_train=df_Train.drop([True],axis=1)
y_train=df_Train[True]

In [55]:
from sklearn.linear_model import LogisticRegression

In [56]:
l=LogisticRegression()

In [57]:
l.fit(X_train,y_train)

D:\program\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [58]:
l.fit(X_train,y_train)

D:\program\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [59]:
import pickle
f='new_model.pkl'
pickle.dump(l,open(f,'wb'))

In [60]:
p=l.predict(df_Test)

In [61]:
p

array([1, 1, 0, ..., 1, 0, 1], dtype=uint8)

In [62]:
pred=pd.DataFrame(p)
sub_df=pd.read_csv('sample_submission.csv')
datasets=pd.concat([sub_df['PassengerId'],pred],axis=1)
datasets.columns=['PassengerId','Transported']
datasets.to_csv('sample_submission.csv',index=False)