In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('titanic.csv')

In [3]:
df.head()

   Passengerid   Age     Fare  Sex  sibsp  Parch  Pclass  Embarked  Survived
0            1  22.0   7.2500    0      1      0       3       2.0         0
1            2  38.0  71.2833    1      1      0       1       0.0         1
2            3  26.0   7.9250    1      0      0       3       2.0         1
3            4  35.0  53.1000    1      1      0       1       2.0         1
4            5  35.0   8.0500    0      0      0       3       2.0         0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   Parch        1309 non-null   int64
 6   Pclass       1309 non-null   int64
 7   Embarked     1307 non-null   float64
 8   Survived     1309 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 92.2 KB

In [5]:
df.dropna(inplace=True)

In [6]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [7]:
y

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
l=LogisticRegression()

In [12]:
l.fit(x_train,y_train)

D:\program\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [13]:
p=l.predict(x_test)

In [14]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [15]:
print(confusion_matrix(y_test,p))

[[229  13]
 [ 31  54]]

In [16]:
print(classification_report(y_test,p))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91       242
           1       0.81      0.64      0.71        85

    accuracy                           0.87       327
   macro avg       0.84      0.79      0.81       327
weighted avg       0.86      0.87      0.86       327

In [17]:
accuracy_score(y_test,p)

0.8654434250764526